Django
pillow
django-cleanup
django-allauth
django-htmx
gunicorn
python-decouple
dj-database-url
gunicorn
psycopg2-binary
psycopg
wagtail
whitenoise
cloudinary
django-storages
django-cloudinary-storage
